@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/Admin.css" />
<div class="content">
    <div class="song-cards">
        @foreach (var song in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 song-card" onclick="playSong('@song.mp3FilePath', '@song.Name', '@song.Artist', '@song.imgFilePath')">
                <div class="song-image" style="background-image: url('@song.imgFilePath')"></div>
                <div class="song-details" data-mp3="@song.mp3FilePath" data-name="@song.Name" data-artist="@song.Artist" data-img="@song.imgFilePath">
                    <h3 class="song-title">@song.Name</h3>
                    <p class="song-artist">@song.Artist</p>
                    <p class="song-genre">@song.Genre.GenreName</p>
                </div>
            </div>
        }
    </div>
</div>

